h1 {
    font-family: 'Bahnschrift', sans-serif;
}   
p {
    font-family: 'Bahnschrift', sans-serif;
}
nav {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    display: flex;
    align-items: center;
}
nav * {
    display: inline;
}
nav li {
    font-family: 'Bahnschrift', sans-serif;
}
